<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="pop-up">

    <div id="pop-up">
        <!-- <img src="images/cross.png"> -->

        <div class="container">
            <h1>എനിക്ക് payment gateway ചെയ്യാൻ അറിയില്ല 9496458628 google pay ചെയ്യൂ order വീട്ടിൽ എത്തിച്  തരുന്നതായിരിക്കും</h1>

            <input type="text" placeholder="address" required>
            <button type="submit" (click)="validate()" value="submit"></button>
            <div class="cross" ><i class="fa fa-times" style="color: #fff;"></i></div>
        </div>
    </div>
    
</body>